[submodule "lib/vendor/submodules/scala-mode2"]
	path = lib/vendor/submodules/scala-mode2
	url = git://github.com/hvesalai/scala-mode2.git
[submodule "lib/vendor/submodules/sbt-mode"]
	path = lib/vendor/submodules/sbt-mode
	url = git://github.com/hvesalai/sbt-mode.git
